name: Development docs CI

on:
  push:
    branches:
      - "**"
    paths-ignore:
      - tests/**

defaults:
  run:
    shell: bash -l {0}

permissions:
  contents: write

  jobs:
    docs-test:
      if: github.ref != 'refs/heads/main'
      uses: arup-group/actions-city-modelling-lab/.github/workflows/docs-deploy.yml@repo-name-prefix
      with:
        deploy_type: test

    docs-update-latest:
      permissions:
        contents: write
      if: github.ref == 'refs/heads/main'
      uses: arup-group/actions-city-modelling-lab/.github/workflows/docs-deploy.yml@repo-name-prefix
      with:
        deploy_type: update_latest