name: Multi-platform CI

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - ready_for_review
      - review_requested
    paths-ignore:
      - README.md
      - CHANGELOG.md
      - LICENSE
      - CONTRIBUTING.md
      - docs/**
      - mkdocs.yml

jobs:
  test:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        py3version: ["9", "10", "11"]
      fail-fast: false
    uses: arup-group/actions-city-modelling-lab/.github/workflows/python-install-lint-test.yml@repo-name-prefix
    with:
      os: ubuntu-latest
      py3version: "11"
      lint: false
      upload_to_codecov: false